@model LibrosApp.Models.Viewmodels.LibroViewModel

@{
    ViewBag.Title = "Detalles de " + Model.Nombre + " por " +Model.Autor;
}

<div class="container" style="text-align: center;">

    <h2>Detalles</h2>

    <div>
        <h4>Libro</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Autor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Autor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Unidades)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Unidades)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
    </p>

</div>
