@model LibrosApp.Models.Viewmodels.ClienteViewModel

@{
    ViewBag.Title = "Detalles de " + Model.NombreCompleto;
}

<div class="container" style="text-align: center;">

    <h2>Detalles</h2>

    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ciudad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreCompleto)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
    </p>

</div>